mixin head(data)
  - data = data || {}
  meta(charset="utf-8")
  base(href!="<?=SITE_URL?>")
  title <?=PAGE_TITLE?>
  meta(content=data.description, name="description")
  meta(content=data.keywords, name="keywords")
  meta(property="og:type", content="website")
  link(rel="image_src", href!=data.shareImage)
  meta(content=data.author name="author")
  meta(content="telephone=no", name="format-detection")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="HandheldFriendly", content="true")
  meta(name="MobileOptimized", content="320")
  meta(content="IE=edge", http-equiv="X-UA-Compatible")
  meta(property="og:title", content=data['og:title'])
  meta(property="og:image", content!=data['og:image'])
  meta(property="og:site_name", content=data['og:site_name'])
  meta(property="og:description", content=data['og:description'])
  meta(name="twitter:title", content=data['og:title'])
  meta(name="twitter:image:src", content!=data['og:image'])
  meta(name="twitter:description", content=data['og:description'])
  link(rel='apple-touch-icon', sizes='57x57', href='/templates/build/favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='60x60', href='/templates/build/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon', sizes='72x72', href='/templates/build/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='76x76', href='/templates/build/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon', sizes='114x114', href='/templates/build/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='120x120', href='/templates/build/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='/templates/build/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='/templates/build/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='/templates/build/favicon/apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='/templates/build/favicon/android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='/templates/build/favicon/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='/templates/build/favicon/favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='/templates/build/favicon/favicon-16x16.png')
  link(rel='manifest', href='/templates/build/favicon//manifest.json')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='/templates/build/favicon//ms-icon-144x144.png')
  meta(name='theme-color', content='#ffffff')
  link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  link(href!="<?=urlV('%=PATH_CSS=%/styles'.$sourceSuffix.'.css')?>", rel="stylesheet", type="text/css")
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Black+Ops+One', rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')